<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRIST WEB PAGE</title>
</head>
<style>
    body {
            font-family: Arial;
            background: #f0f2f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    h1{
        align-items: center;
    }
    .name{
        padding: 10px;
        margin: 10px;
        background-color: aqua;
    }
    
    
</style>
<body>
    <div class="name">  <h1>This is Home page</h1>
    <p>hey this is the paragram Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cupiditate in iste quo odio quasi eius libero unde ex fuga facere incidunt dolore suscipit voluptates, aut rem nisi blanditiis beatae temporibus? Odit mollitia repellendus natus?</p></div>
 

</body>
</html>